*, 
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
/* Always set the map height explicitly to define the size of the div
  * element that contains the map. */
  /* #map {
  height: 100%;
} */
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url("../images/food_pattern_myfreephotoshop.png");
  font-family: 'Roboto', sans-serif;
}

/* start -- section = frontPage */
#logSignDiv {
  display: flex;
  justify-content: flex-end;
  background-color:white;
}

.logButtons {
  background-color: transparent;
  border: transparent;
  color: #383838;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  display: block;
  margin: 15px;
}

#logInDiv, #signUpDiv {
  display: flex;
  justify-content: flex-end;
  background-color: white;
  color: #383838;
  font-size: 1rem;
  
}

#formDiv {
  display: none;
  position: absolute;
  background-color: white;
  line-height: 25px;
  padding: 10px;
}

.formButtons {
  font-family: 'Roboto', sans-serif;
  font-size: .75rem;
  border: 1px solid #383838;
  border-radius: 5px;
}

#frontTitle {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 50px 0 0 30px;

}

#frontTitle h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 6rem;
  color: white;
  text-shadow: 2px 2px #f7585c;
}

#frontTitle h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  color: white;
  margin-left: auto;
}
/* end -- section = frontPage */

/* start -- section = decidePage */

#decidePage h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2rem;
  color: #f7585c;
}

#decidePage div {
  margin-bottom: 10px; 
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 2rem auto;
  padding: 2rem;
  width: 90%;
  height: 460px;
}

.decideButtons {
  font-family: 'Roboto', sans-serif;
  font-size: .9rem;
  border: 1px solid #383838;
  border-radius: 5px;
}

#decideContainer input {
  width: 50%; 
  height: 30px;
}

/* end -- section = decidePage */

/* start -- section = pickPage */

#pickInfo {
  height: 15%;
}

#pickContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 460px;
}
.col1 {
  flex: 50%;
  background-color: rgba(100,100,100,1);
  padding: 10px;
  overflow: scroll;
  position: relative;
}

.col2 {
  flex: 50%;
  background-color: rgba(100,100,100,1);
  padding: 10px;
  overflow: scroll;
  position: relative;
}

#yelpDiv,
#edDiv
{
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1em;
}

#pickPage h2 {
  font-family: 'Abril Fatface', cursive;
  font-size: 1.35rem;
  line-height: 1.50rem;
  color: #f7585c;
}

#pickPage {
  font-family: 'Roboto', sans-serif;
  font-size: .85rem;
  line-height: 1.25rem;
  color: #383838;
}

/* start -- section = pickPage */


.yelp-div:nth-child(even),
.edamam-div:nth-child(even)
{
  background: pink;
}

.yelp-div:first-child,
.edamam-div:first-child {
  display: block;
}

.w3-black, .w3-hover-black:hover {
  color: #fff!important;
  background-color: #000!important;
}
.w3-display-right {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0%,-50%);
  -ms-transform: translate(0%,-50%);
}
.w3-display-left {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%,-50%);
  -ms-transform: translate(-0%,-50%);
}
.w3-button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.w3-button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

footer {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  height: 52px;
  width: 100%;
  background-color: white;
  margin-top: 20px;
}
